.firstlogin-container {
  width: 550px;
  margin: auto;
  border: 3px solid #726352;
  background-color: #e5e0d8;
  box-shadow: 24;
  border-radius: 20px;
  padding: 0px 30px;
  margin-top: 5px;
  font-family: 'MyFont', Arial, sans-serif;
  color: #726352;
  direction: rtl;
  display: flex;
  flex-direction: column;
  
  gap: 0; /* Ensure no gap between flex children */
}

.firstlogin-container > * {
  margin: 0;
  padding: 0;
}


.firstlogin-title {
  color: #4f5141;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.firstlogin-message {
  color: #726352;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.5;
  min-height: 300px; /* or your preferred static height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media (max-width: 600px) {
  .firstlogin-container {
    width: 92vw;
    margin-top: -30px;
    padding: 10px 0px;
    
  }
  .firstlogin-title {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .firstlogin-message {
    font-size: 1rem;
    min-height: auto;
    height: 380px;
    
  }
}


