.bodystyle {
    display: flex;
    flex-direction: column;
    width: 70%; 
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    padding: 2%;
  }

.headerstyleAddreciepe {
    font-size: 50px;
    color: #e8d1a7;
    padding: 1%;

}
.rowstyleAddreciepe {
    display: flex;
   
    color: #e8d1a7;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2%;
    
}
.rowstyleAddreciepeheader {
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2%;
    
}

.rowtextstyleAddreciepe {
    font-size: 20px;

}
