.homepagestyle {
    width: 98%;
    display: flex;
    flex-wrap: wrap;         /* Allow wrapping to new lines */
    flex-direction: row;
    gap: 100px;
    font-family: 'My-font';        
}

/* Responsive styles for mobile devices */
@media (max-width: 600px) {
    .homepagestyle {
        width: 100%;
        flex-direction: row;
        gap: 20px;
        padding: 1px;
    }
}