body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color:#E8D1A7; 
  font-family: 'MyFont', sans-serif;
}
@font-face {
  font-family: 'MyFont';
  src: url('D:\GitProject\IlayProject1\frontend\public\SecularOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.bodystyle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; /* Take up the full height of the screen */
  align-items: center;
  justify-content: flex-start; /* Align content to the top */
}

.headertextstyle {
  padding: 30px;
  text-align: center;

  font-size: 5rem; /* Adjust font size for responsiveness */
  color: #442D1C;
  font-family: 'MyFont';
  display: flex;
  justify-content: center; /* Center the content inside the header */
}
